* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    align-self: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
footer{
    text-align: center;

}

main {
    display: flex;
    width: 50%;
    margin: 25%;
    height: 350px;
    font-family: 'Lexend Deca', sans-serif;
}

button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 5%;
    border-color: white;
    cursor: grab;
    margin-top: 20%;
    border-width: 0ch;
    width: 50%;
    height: 9%;  
}

.sedan {
    min-width: 40%;
    height: 125%;
    /* padding: 20px; */
    background-color: hsl(31, 77%, 52%);
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    flex-wrap: wrap;
    flex-direction: row;
}
.sedan button{
    color: hsl(31, 77%, 52%);
}
.suv {
    min-width: 40%;
    height: 125%;
    /* padding: 20px; */
    background-color: hsl(184, 100%, 22%);
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.suv button{
    color: hsl(184, 100%, 22%);
}
.luxury {
    min-width: 40%;
    height: 125%;
    /* padding: 20px; */
    background-color: hsl(179, 100%, 13%);
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    flex-wrap: wrap;
    flex-direction: row;
}
.luxury button{
    color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 10%;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 5%;
    text-align: left;
    text-indent: 20%;
}
img{
    margin: 10%;
    padding: 0%;
    display: flex;
}

@media screen and (max-width:1440px) {
    main{
        display: flex;
        flex-direction: row;
    }
    /* footer{
        position: absolute;
    } */
}
@media screen and (max-width:375px) {
    main{
        display: flex;
        flex-direction: column;
    }
    /* footer{
        position: absolute;
    } */
}
/* @media (overflow-block: scroll ) {

} */